version: "3.9"
services:
  web:
    build: .
    ports:
        - "5000:5000"
    env_file: .env
    depends_on:
      - db
    volumes:
      - .:/app
  db:
    image: postgres:15
    container_name: polydb
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: pass
      POSTGRES_DB: polydb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $$POSTGRES_USER"]
      interval: 10s
      timeout: 5s
      retries: 5

volumes:
  postgres_data:
